h1 {
    opacity: 0.5;
}

.ngaaaaah {
    position: absolute;
    bottom: 555px;
    color: #ff0000;
}

.nyeh_heh_heh {
    color: #00ff00
}

.hoi {
    color: #0000ff;
    position: absolute;
    bottom: 555px;
}

.toriel {
    float: right;
}

.frisk {
    width: 100px;
    height: 154.5px;
}