h1 {
    opacity: 0.5;
}
.ngaaaaah {
    position: absolute;
    bottom: 535px;
    color: #ff0000;
}
.nyeh_heh_heh {
    color: #00ff00
}
.hoi {
    color: #0000ff;
    position: absolute;
    bottom: 535px;
}
.toriel {
    float: right;
}